.find-room__wrapper 
    .find-room__form 
        .find-room__title Найдём номера под ваши пожелания
        form.find-room__wrapper
            .find-room__subtitle прибытие
                input(
                    type="text" 
                    name="start-date" 
                    id="start-date" 
                    placeholder="ДД.ММ.ГГГГ"
                    )
                .arrow__down
            .find-room__subtitle выезд
                input(
                    type="text" 
                    name="end-date" 
                    id="end-date" 
                    placeholder="ДД.ММ.ГГГГ"
                    )
                .arrow__down
            .dropdown__wrapper 
                div(id="input_div")
                    input(type="text" size="2" value="1" id="count")
                    input(type="button" value="-" id="moins" onclick="minusOld()")
                    input(type="button" value="+" id="pluss" onclick="plusOld()")
                div(id="input_div")
                    input(type="text" size="2" value="1" id="count1")
                    input(type="button" value="-" id="moin" onclick="minusYoung()")
                    input(type="button" value="+" id="plus" onclick="plusYoung()")
                div(id="input_div")
                    input(type="text" size="2" value="1" id="count2")
                    input(type="button" value="-" id="moi" onclick="minusChild()")
                    input(type="button" value="+" id="plu" onclick="plusChild()")
        .arrow__img_white 
            span.material-icons-outlined.material-icons.md-24.white  arrow_forward
        button.find-room__btn Подобрать номер
           
.find-room__text.first Лучшие номера для вашей работы, 
.find-room__text.end отдыха и просто вдохновения


//Выбор дат в datepicker??
//Запреретить выбор дат до сегодняшнего дня
//Сделать кнопки в datepicker "ОЧИСТИТЬ" И "ПРИМЕНИТЬ"
//Подредачить паддинги у datepicker
