.find-room__wrapper 
    .find-room__form 
        .find-room__title Найдём номера под ваши пожелания
        form.find-room__wrapper
            .find-room__subtitle прибытие
                input(
                    type="text" 
                    name="start-date" 
                    id="start-date" 
                    placeholder="Start date"
                    )
            .find-room__subtitle выезд
                input(
                    type="text" 
                    name="end-date" 
                    id="end-date" 
                    placeholder="End date"
                    )
            .find__room__item.width 
                .find-room__subtitle.max Гости
                .arrow__down.absolute-max
                input(
                    type='text'
                    id='numberguests'
                    name='numberguests'
                    placeholder='Сколько гостей'
                )
        .arrow__img_white 
            span.material-icons-outlined.material-icons.md-24.white  arrow_forward
        button.find-room__btn Подобрать номер
           
.find-room__text.first Лучшие номера для вашей работы, 
.find-room__text.end отдыха и просто вдохновения
