.find-room__wrapper 
    .find-room__form 
        .find-room__title Найдём номера под ваши пожелания
        form.find-room__wrapper
            .find-room__subtitle прибытие
                input(
                    type="text" 
                    name="start-date" 
                    id="start-date" 
                    placeholder="ДД.ММ.ГГГГ"
                    )
                //- .arrow__down
            .find-room__subtitle выезд
                input(
                    type="text" 
                    name="end-date" 
                    id="end-date" 
                    placeholder="ДД.ММ.ГГГГ"
                    )
            .find-room__subtitle гости
                main
                    .wrapper
                        .guests__wrapper 
                            .guests__number(data-number="0")
                            .js-show-drop-down Гостей
                        .drop-down
                            .guests__field
                                .find-room__subtitle взрослые
                                .js-plus-btn +
                                .input-area(data-value="0") 
                                .js-minus-btn -
                            .guests__field
                                .find-room__subtitle дети
                                .js-plus-btn +
                                .input-area(data-value="0")
                                .js-minus-btn -
                            .guests__field
                                .find-room__subtitle младенцы
                                .js-plus-btn +
                                .input-area(data-value="0")
                                .js-minus-btn -
        .arrow__img_white 
            span.material-icons-outlined.material-icons.md-24.white  arrow_forward
        button.find-room__btn Подобрать номер
           
.find-room__text.first Лучшие номера для вашей работы, 
.find-room__text.end отдыха и просто вдохновения


//Выбор дат в datepicker??
//Запреретить выбор дат до сегодняшнего дня
//Сделать кнопки в datepicker "ОЧИСТИТЬ" И "ПРИМЕНИТЬ"
//Подредачить паддинги у datepicker
