
.find-room__wrapper 
    .find-room__form 
        .find-room__title Найдём номера под ваши пожелания
        form.find-room__wrapper
            .find-room__item 
                .find-room__subtitle Прибытие
                input(
                    type='text'
                    id='arrival'
                    placeholder='ДД.ММ.ГГГГ'
                 )
            .find-room__item 
                .find-room__subtitle Выезд
                input(
                    type='text'
                    id='departure'
                    placeholder='ДД.ММ.ГГГГ'
                )
            .find__room__item.width 
                .find-room__subtitle.max Гости
                .arrow__down.absolute-max
                input(
                    type='text'
                    id='numberguests'
                    name='numberguests'
                    placeholder='Сколько гостей'
                )
        .arrow__img_white 
            img(src="./img/arrow_white.svg", alt="arrow_white")
        button.find-room__btn Подобрать номер
           
.find-room__text.first Лучшие номера для вашей работы, 
.find-room__text.end отдыха и просто вдохновения
